# Byte-compiled / optimized / DLL files

# Ignore Python cache
__pycache__/

# Ignore Rust / Cargo build artifacts
**/target/

# Ignore compiled binaries (C, C++, Rust, etc.)
*.exe
*.pdb

# Ignore Python package metadata
*.egg-info

